
*.vsidx
*.vsidx
*.vsidx
*.vsidx
*.vsidx
.vs/RestaurantManagementSystem/FileContentIndex/22a890f2-dd5e-4384-8391-15b0da6ca6bc.vsidx
RestaurantManagementSystem/obj/Debug/RestaurantManagementSystem.csproj.GenerateResource.cache
RestaurantManagementSystem/obj/Debug/RestaurantManagementSystem.csproj.GenerateResource.cache
*.cache
*.vsidx
*.vsidx
.vs/RestaurantManagementSystem/FileContentIndex/dbaca728-37c3-4c6c-afc8-55b0bce58433.vsidx
.vs/RestaurantManagementSystem/FileContentIndex/dbaca728-37c3-4c6c-afc8-55b0bce58433.vsidx
.vs/RestaurantManagementSystem/v17/.suo
*.pdb
RestaurantManagementSystem/obj/Debug/RestaurantManagementSystem.pdb
*.xml
*.dll
*.cache
*.nupkg
*.xsd
*.TXT
*._
*.p7s
*.xdt
*.ps1
*.transform
*.targets
*.md
*.png
*.cache
*.cache
